.booking {
    margin: rem(10px);
    padding: rem(15px);
    border-radius: 3px;
    background: linear-gradient(to bottom, #febb02 0, #febb02 100%);

    &__header {
        margin-bottom: rem(20px);
    }

    &__title {
        margin-bottom: 0;
    }

    &__subtitle {
        @include font-size(12px);
    }

    .button {
        margin-top: rem(15px);
    }
}
