$this: '.page-container';

#{$this} {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;

    @include clearfix();
}

@media (min-width: $screen-sm-min) {
    #{$this} {
        width: 750px;
    }
}

@media (min-width: $screen-md-min) {
    #{$this} {
        width: 970px;
    }
}

@media (min-width: $screen-lg-min) {
    #{$this} {
        width: 1210px;
    }
}
